beautifulsoup4
python-dotenv
docx2txt
jieba
dashscope
langchain>=1.0.0
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
langgraph
lxml
openpyxl
pypdf
PyYAML
requests
streamlit
rank_bm25
